@model GameClub.ViewModels.ContributionViewModel
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "ContributionInfoPageTable",
        Url = Url.Action("UpdateContributionInfo"),
        OnSuccess = "OnEditContributionInfoSuccess",
        OnFailure = "OnEditContributionInfoFault",
    };
}
<div class="modal fade" id="EditContributionInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">编辑贡献表信息</h4>
            </div>
            @using (Ajax.BeginForm(ajaxOptions))
            {
                @Html.HiddenFor(m => m.PageIndex)
                @Html.HiddenFor(m => m.PageSize)
                @Html.HiddenFor(m => m.Keyword)
                @Html.HiddenFor(m => m.CurrentSort)
                @Html.HiddenFor(m => m.SortBy)
                @Html.Hidden("IsOrderBy", false)
                <div class="modal-body">
                    @if (Model.Contribution != null)
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label for="ContributionID" class="control-label">贡献表ID：</label>
                            <input type="text" class="form-control" id="ContributionID" name="ContributionID" value="@Model.Contribution.ContributionID" readonly>
                        </div>
                        <div class="form-group">
                            <label for="GameID" class="control-label">成员ID：</label>
                            <input type="text" class="form-control" id="GameID" name="GameID" value="@Model.Contribution.GameID" readonly>
                        </div>
                        <div class="form-group">
                            <label for="AllContribution" class="control-label">总贡献：</label>
                            <input type="text" class="form-control" id="AllContribution" name="AllContribution" value="@Model.Contribution.AllContribution" />
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">关闭</a>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            }

        </div>
    </div>
</div>

<script type="text/javascript">
    function OnEditContributionInfoSuccess() {
        $('#SearchForm').submit();
        $('#EditContributionInfoModal').modal("hide");
        lightyear.loading('show');
        setTimeout(function () {
            lightyear.loading('hide');
            lightyear.notify('保存贡献表信息成功!', 'success', 3000);
        }, 1e3);
    }
    function OneEditContributionInfoFault() {
        $('#SearchForm').submit();
        lightyear.loading('show');
        setTimeout(function () {
            lightyear.loading('hide');
            lightyear.notify('编辑贡献表信息失败!', 'danger', 3000);
        }, 1e3);
    }
</script>
<script src="~/Scripts/main.min.js"></script>