@model GameClub.ViewModels.InformMessageViewModel
@{
    ViewBag.Title = "社团通知管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    AjaxOptions ajaxOptionsAdd = new AjaxOptions
    {
        Url = Url.Action("AddInformMessage", "Relevant"),
        OnBegin = "OnBegin",
        OnSuccess = "OnAddSuccess",
        UpdateTargetId = "InformMessagePageTable",
    };
    AjaxOptions ajaxOptionsSearch = new AjaxOptions
    {
        Url = Url.Action("InformMessage", "Relevant"),
        //OnBegin = "OnBegin",
        //OnSuccess = "OnSearchSuccess",
        //OnFailure= "OnSearchFault",
        UpdateTargetId = "InformMessagePageTable",
    };
}

@section main{

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">
                        <div class="pull-right search-bar">
                            @using (Ajax.BeginForm(null, null, ajaxOptionsSearch, new { id = "SearchForm" }))
                            {
                                <input hidden type="text" name="pageIndex" id="pageIndexInput" value="@Model.PageIndex" />
                                <input hidden type="text" name="IsDesc" id="IsDescInput" value="@Model.IsDesc" />
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" placeholder="留空搜索展示所有内容" value="@Model.Keyword">
                                    <div class="input-group-btn">
                                        <button class="btn btn-secondary" id="search-btn" type="submit" accesskey="on"><i class="mdi mdi-search-web"></i> 搜索</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#AddInformMessageModal"><i class="mdi mdi-plus"></i> 新增</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="InformMessagePageTable">
                            @Html.Partial("_Inform", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddInformMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">新增通知消息</h4>
                    </div>
                    @using (Ajax.BeginForm(ajaxOptionsAdd))
                    {
                        <div class="modal-body">
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label for="Title" class="control-label">标题：</label>
                                <input type="text" class="form-control" id="Title" name="Title" value="" />
                            </div>
                            <div class="form-group">
                                <label for="Context" class="control-label">内容：</label>
                                <textarea name="Context" id="Context" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">关闭</a>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    }
                </div>
            </div>
        </div>
}

@section script{
    @{ Html.RegisterMvcPagerScriptResource();}

    <script type="text/javascript">
        function OnBegin() {
            lightyear.loading('show');
        }
        function OnSearchSuccess() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('查询成功!', 'success', 3000);
            }, 1e3)
        }
        function OnSearchFailure() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('查询失败!', 'success', 3000);
            }, 1e3)
        }
        function OnAddSuccess() {
            $('#AddInformMessageModal').modal("hide");
            $('#SearchForm').submit();
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('添加成功!', 'success', 3000);
            }, 1e3)

        }
        function OnAddFailure() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('添加失败，请检查输入内容!', 'danger', 3000);
            }, 1e3)
            $('#SearchForm').submit();
        }
        function OnDelSuccess() {
            $('#SearchForm').submit();
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('删除成功!', 'success', 3000);
            }, 1e3)

        }
        function OnDelFailure() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('删除失败!', 'danger', 3000);
            }, 1e3)
            $('#SearchForm').submit();
        }
        $(document).ready(
        function Deal() {
            $("[id=pageIndexInput]").each(function () { $(this).val("@Model.PageIndex") })
            $("[id=IsDescInput]").each(function () { $(this).val("@Model.IsDesc") })
            $("[id=DelLink]").each(function () { $(this).html("<i class='mdi mdi-24px mdi-close-box'></i>") })
        }
    );
    </script>

}
