@model GameClub.ViewModels.QuestionaryViewModel
@{
    ViewBag.Title = "问卷管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string[] color = { "primary", "info", "danger", "dark", "secondary", "success", "warning", };
    AjaxOptions ajaxOptionsAdd = new AjaxOptions
    {
        Url = Url.Action("AddQuestionary", "Relevant"),
        OnBegin = "OnBegin",
        OnSuccess = "OnAddSuccess",
        OnFailure = "OnAddFailure",
        UpdateTargetId = "QuestionaryPageTable",
    };
}

@section main{
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-toolbar clearfix">
                            <div class="toolbar-btn-action">
                                <button type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#AddQuestionaryModal"><i class="mdi mdi-plus"></i> 新增</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="QuestionaryPageTable">
                @Html.Partial("_Questionary", Model)
            </div>
        </div>
        <div class="modal fade" id="AddQuestionaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">新增调查问卷</h4>
                    </div>
                    @using (Ajax.BeginForm(ajaxOptionsAdd))
                    {
                    <div class="modal-body">
                        @Html.ValidationSummary()
                        <input hidden type="text" name="pageIndex" id="pageIndexInput" value="@Model.PageIndex" />
                        <div class="form-group">
                            <label for="QuestionaryID" class="control-label">问卷ID：</label>
                            <input type="text" class="form-control" id="QuestionaryID" name="QuestionaryID" readonly value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
                        </div>
                        <div class="form-group">
                            <label for="Title" class="control-label">问卷标题：</label>
                            <input type="text" class="form-control" id="Title" name="Title" value="" />
                        </div>
                        <div class="form-group">
                            <label for="Context" class="control-label">问卷简介：</label>
                            <textarea name="Context" id="Context" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="StartTime" class="control-label">问卷开始时间：</label>
                            <input class="form-control js-datetimepicker m-b-10" type="text" id="StartTime" autocomplete="off" name="StartTime" placeholder="请选择具体时间" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" data-side-by-side="true" data-format="YYYY-MM-DD HH:mm" />
                        </div>
                        <div class="form-group">
                            <label for="EndTime" class="control-label">问卷结束时间：</label>
                            <input class="form-control js-datetimepicker m-b-10" type="text" id="EndTime" autocomplete="off" name="EndTime" placeholder="请选择具体时间" value="@DateTime.Now.AddMinutes(15).ToString("yyyy-MM-dd HH:mm")" data-side-by-side="true" data-format="YYYY-MM-DD HH:mm" />
                        </div>
                    </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">关闭</a>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@section script{
    @{ Html.RegisterMvcPagerScriptResource();}

    <script type="text/javascript">
        function OnBegin() {
            lightyear.loading('show');
        }
        function OnAddSuccess() {
            $('#AddQuestionaryModal').modal("hide");
            $('#SearchForm').submit();
            $('#QuestionaryID').val("@DateTime.Now.AddSeconds(1).ToString("yyyyMMddHHmmss")");
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('添加成功!', 'success', 3000);
            }, 1e3)

        }
        function OnAddFailure() {
            $('#SearchForm').submit();
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('添加失败，请检查输入内容!', 'danger', 3000);
            }, 1e3)
            
        }
        function OnDelSuccess() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('删除成功!', 'success', 3000);
            }, 1e3)
        }
        function OnDelFailure() {
            setTimeout(function () {
                lightyear.loading('hide');
                lightyear.notify('删除失败，请检查!', 'danger', 3000);
            }, 1e3)
        }
        $(document).ready(
            function DealLink() {
                $("[id=Del]").each(function () { $(this).html("<i class='mdi mdi-window-close'></i>") })
            }
        );
    </script>
}

